.highlight1{
	background-color:#ffff66;
	color:black;
	cursor:pointer;
}
.highlight2{
	background-color:#a0ffff;
	color:black;
	cursor:pointer;
}
.highlight3{
	background-color:#99ff99;
	color:black;
	cursor:pointer;
}
.highlight4{
	background-color:#ff9999;
	color:black;
	cursor:pointer;
}
.highlight0{
	background-color:#ff66ff;
	color:black;
	cursor:pointer;
}
.highlight6{
	background-color:#880000;
	color:white;
	cursor:pointer;
}
.highlight7{
	background-color:#00aa00;
	color:white;
	cursor:pointer;
}
.highlight8{
	background-color:#886800;
	color:white;
	cursor:pointer;
}
.highlight9{
	background-color:#004699;
	color:white;
	cursor:pointer;
}
.highlight5{
	background-color:#990099;
	color:white;
	cursor:pointer;
}
