.search_giver{font-family:times; font-size:16; font-weight:bold; color:green;}
.search_sphere{font-family:times;font-size:16; color:green; font-weight:bold;}
.search_green{font-family:times;font-size:16; color:green;}
.search_type{font-family:times;font-size:14; color:green;}
.search_subj{font-family:arial;font-size:18; font-color:grey;}
.search_hightlightbody{font-family:arial;font-size:16; font-color:black; font-weight:bold;}
.search_body{font-family:arial;font-size:14; font-color:grey;}
.search_address{font-family:arial;font-size:16; font-color:blue;}
.search_sphereview{font-family:arial;font-size:16; font-color:blue;}
.search_label{font-family:arial;font-size:16; font-style:italic; font-color:grey;}